h1{
    height: 20px;
    padding-top: 15px;
    padding-bottom:15px;
    color: azure;
    text-align: center;
    font-size: medium;
    background-color: black;
}
#tag1{
    font-size: 8px;
}
#tag2{
    text-align: center;
    font-size: 35px;
    font-family: teko;
    margin-bottom: 0px;
    margin-top: 0px;
    text-decoration: underline;
}
#tag3{
    height:60px;
    text-align: justify;
    padding:10px 20px 10px 20px;
    margin-left:300px;
    margin-right:300px;
    font-family: teko;
    font-size:20px;
 
   
}
#p1:hover{
    box-shadow: 2px 5px 10px rgb(66, 64, 64) ;
}
#p1{
    margin-left:80px;
    border-style: solid;
    border-width: 2px;
    border-color:antiquewhite;
}
#img{
    height:475px;
    margin-left: 50px;
    border: solid 1px black;
    box-shadow: 2px 5px 10px rgb(66, 64, 64) ;
    border-radius: 5px;
}
#img:hover{
    box-shadow: 2px 5px 20px rgb(22, 21, 21) ;
}